# This is an .env file example for SODAR Core development.
# Remember to set DJANGO_READ_DOT_ENV_FILE=1 in your actual environment!
# NOTE: These are settings most commonly needed for development. For additional
#       settings, see config/settings/*.py

# Django server settings
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_DEBUG=1
ENABLE_DEBUG_TOOLBAR=1

# PostgreSQL
DATABASE_URL="postgres://sodar_core:sodar_core@127.0.0.1/sodar_core"

# Celery
CELERY_BROKER_URL="redis://localhost:6379/0"

# REST API
SODAR_API_DEFAULT_HOST="http://0.0.0.0:8000"
SODAR_API_PAGE_SIZE=100

# Email
EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_SENDER="noreply@example.com"
EMAIL_URL="smtp://server.your.domain"
EMAIL_SUBJECT_PREFIX="[SODAR Core Dev]"

# LDAP settings
ENABLE_LDAP=0
AUTH_LDAP_SERVER_URI=
AUTH_LDAP_BIND_DN=
AUTH_LDAP_BIND_PASSWORD=
AUTH_LDAP_START_TLS=
AUTH_LDAP_CA_CERT_FILE=
AUTH_LDAP_USER_FILTER=
AUTH_LDAP_USER_SEARCH_BASE=
AUTH_LDAP_USERNAME_DOMAIN="DOMAIN"
AUTH_LDAP_DOMAIN_PRINTABLE="Domain"
ENABLE_LDAP_SECONDARY=0
AUTH_LDAP2_SERVER_URI=
AUTH_LDAP2_BIND_DN=
AUTH_LDAP2_BIND_PASSWORD=
AUTH_LDAP2_START_TLS=
AUTH_LDAP2_CA_CERT_FILE=
AUTH_LDAP2_USER_FILTER=
AUTH_LDAP2_USER_SEARCH_BASE=
AUTH_LDAP2_USERNAME_DOMAIN="DOMAIN2"
AUTH_LDAP2_DOMAIN_PRINTABLE="Domain2"

# OIDC settings
ENABLE_OIDC=0
SOCIAL_AUTH_OIDC_OIDC_ENDPOINT=
SOCIAL_AUTH_OIDC_KEY=
SOCIAL_AUTH_OIDC_SECRET=
SOCIAL_AUTH_OIDC_USERNAME_KEY=

# Django-axes
AXES_ENABLED=0
AXES_FAILURE_LIMIT=5
AXES_LOCK_OUT_AT_FAILURE=0
AXES_COOLOFF_TIME=
AXES_LOCKOUT_PARAMETERS="usernam"
AXES_ONLY_ADMIN_SITE=0
AXES_DISABLE_CLIENT_IP_STORAGE=1

# Logging
LOGGING_LEVEL=DEBUG
LOGGING_APPS="projectroles,siteinfo,sodarcache,timeline"
LOGGING_FILE_PATH=

# Projectroles settings
PROJECTROLES_SITE_MODE=SOURCE
PROJECTROLES_ALLOW_LOCAL_USERS=1
PROJECTROLES_ALLOW_ANONYMOUS=0
PROJECTROLES_LOCAL_USER_UPDATE=1
PROJECTROLES_DISABLE_CATEGORIES=0
PROJECTROLES_INVITE_EXPIRY_DAYS=14
PROJECTROLES_SEND_EMAIL=1
PROJECTROLES_EMAIL_SENDER_REPLY=0
PROJECTROLES_ENABLE_SEARCH=1
PROJECTROLES_SIDEBAR_ICON_SIZE=36
PROJECTROLES_ROLE_PAGINATION=15
PROJECTROLES_READ_ONLY_MSG=
PROJECTROLES_API_USER_DETAIL_RESTRICT=0
PROJECTROLES_SUPPORT_CONTACT=
PROJECTROLES_DELEGATE_LIMIT=1
PROJECTROLES_ENABLE_PROFILING=0

# Adminalerts settings
ADMINALERTS_EMAIL_SENDING_DEFAULT=1
ADMINALERTS_PAGINATION=15
APPALERTS_STATUS_INTERVAL=5

# Bgjobs settings
BGJOBS_PAGINATION=15

# Filesfolders settings
FILESFOLDERS_MAX_UPLOAD_SIZE=10485760
FILESFOLDERS_MAX_ARCHIVE_SIZE=52428800
FILESFOLDERS_SERVE_AS_ATTACHMENT=0
FILESFOLDERS_SHOW_LIST_COLUMNS=1

# Timeline settings
TIMELINE_PAGINATION=15
TIMELINE_SEARCH_LIMIT=250

# Tokens settings
TOKENS_CREATE_PROJECT_USER_RESTRICT=0
