.main-martor {
  margin: 0px;
}

.main-martor .nav-tabs {
  border-bottom: none;
}

.ace_editor {
  font-size: inherit;
}

/* Make the editor look like the other input elements */
.martor-field {
  color: #6c757d;
  border-radius: .25rem;
  border: 1px solid #ced4da;
  outline: .2rem solid rgba(0,123,255,0);
}
.martor-field:focus-within {
  color: black;
  outline: .2rem solid rgba(0,123,255,.25);
  transition: outline .15s ease-in-out;
}

/* Fix the irregular heights in the toolbar */
.martor-toolbar .btn-group .btn-group .btn {
  padding: 4px 8px;
  height: 2em;
}
.martor-toolbar .btn-group .btn {
  height: 2.3em;
}
.martor-toolbar .btn-light {
  background-color: #fff;
  border: none;
}
.martor-toolbar .btn-light:hover {
  background-color: #e2e6ea;
  border: none;
}

div.martor-preview {
  background: rgba(0,123,255,.25);
}

.sodar-json-input {
  height: 175px !important;
  min-height: 175px;
  width: 100%;
  background-color: Gainsboro;
  border: 1px solid DarkGray;
  resize: vertical;
}
