/* Main table */
table#sodar-tl-table tbody tr td:nth-child(1),
table#sodar-tl-table tbody tr td:nth-child(2),
table#sodar-tl-table tbody tr td:nth-child(3) {
  white-space: nowrap;
}

table#sodar-tl-table tbody tr td:nth-child(4) {
  width: 100%;
}

/* Detail table */
table#sodar-tl-table-detail tbody tr td:nth-child(1),
table#sodar-tl-table-detail tbody tr td:nth-child(3) {
  white-space: nowrap;
}

table#sodar-tl-table-detail tbody tr td:nth-child(2) {
  width: 100%;
}

table#sodar-tl-table-extra-data tbody tr td:nth-child(1) {
  white-space: nowrap;
  width: 100%;
}

table.sodar-timeline-table {
  display: inline-table;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  border-bottom: 0 !important;
  margin: 0 !important;
}

table.sodar-timeline-table thead tr th {
  padding: 12px !important;
  padding-right: 22px !important; /* Avoid covering sort icons */
  max-width: 250px !important;
}

table.sodar-timeline-table tbody tr td {
  padding: 12px !important;
  max-width: 250px !important;
}

.sodar-header-input-group-search {
    max-width: 250px;
}

@media screen and (max-width: 1000px) {
  .sodar-header-input-group-search {
    display: none;
  }
}

select.sodar-sort-page-length {
    height: 32px;
    padding-top: 5px;
}

th.sorting {
  padding-left: 10px !important;
  border-bottom: 0 !important;
}

th.sorting::after {
  padding-top: 7px !important;
}

.dataTables_paginate {
  width: 100%;
  padding: 12px !important;
  margin-bottom: 12px !important;
  text-align: right;
  border-top: 1px solid #dfdfdf !important;
}

.dataTables_paginate .pagination .active .page-link {
    background-color: #007bff;
    color: #ffffff;
}

a.sodar-tl-link-detail:hover {
  text-decoration: underline;
}

a.sodar-tl-link-extra-data:hover {
  text-decoration: underline;
  cursor: pointer;
}

a.sodar-tl-link-extra {
  cursor: pointer;
}

a.sodar-tl-link-status-extra-data:hover {
  cursor: pointer;
}

.popover {
  font-size: 100%; /* Fix for Bootstrap 4.4 */
}

/* Responsive modifications */
@media screen and (max-width: 1100px) {
  .table#sodar-tl-table thead tr th:nth-child(2),
  .table#sodar-tl-table tbody tr td:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .table#sodar-tl-table tbody tr td:nth-child(1) {
    white-space: normal;
  }

  .table#sodar-tl-table thead tr th:nth-child(3),
  .table#sodar-tl-table tbody tr td:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .table#sodar-tl-table thead tr th:nth-child(5),
  .table#sodar-tl-table tbody tr td:nth-child(5) {
      display: none;
  }
}

.sodar-tl-modal-dialog {
  max-width: 75% !important;
  font-family: monospace;
}

pre.sodar-tl-json {
  font-family: monospace;
  font-size: 85%;
}

.json-open-bracket, .json-close-bracket {
  color: #CC0011;
}

.json-property {
  color: #1A5988;
}

.json-semi-colon {
  color: #14171A;
}

.json-value {
  color: #222222;
}

.sodar-tl-modal-tabs {
  flex: 1;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #dee2e6;
}

.sodar-tl-copy-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
