<div class="card sodar-sort-card">
  <div class="card-header">
    <h4>
      <i class="iconify"
         data-icon="mdi:sort-clock-ascending"></i>
      Sort options
      <div class="input-group sodar-header-input-group sodar-header-input-group-sort pull-right">
        <select class="form-control sodar-sort-page-length">
          <option selected value="{{ search_pagination }}">Page</option>
          <option value="{{ search_pagination }}">{{ search_pagination }} (default)</option>
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="-1">All</option>
        </select>
        <input class="form-control sodar-sort-filter"
           type="text" placeholder="Filter" aria-label="Filter {{ search_title }}" />
      </div>
    </h4>
  </div>